<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tempus">
        <activity
            android:name=".ui.setting.PersonalizationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.setting.LegalDocumentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.setting.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.garden.TreeDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Tempus" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="true"
            android:theme="@style/Theme.Tempus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <!-- Timer Action Receiver -->
        <receiver
            android:name=".receiver.TimerActionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.projectapp.tempus.TIMER_PAUSE" />
                <action android:name="com.projectapp.tempus.TIMER_RESUME" />
                <action android:name="com.projectapp.tempus.TIMER_STOP" />
            </intent-filter>
        </receiver>

        <!-- Timeline Reminder Receiver -->
        <receiver
            android:name=".service.ReminderReceiver"
            android:enabled="true"
            android:exported="false" />

        <!-- Tasks Widget Provider -->
        <receiver
            android:name=".widget.TasksWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tasks_widget_info" />
        </receiver>

        <!-- Widget Remote Views Service -->
        <service
            android:name=".widget.TasksWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

        <!-- FileProvider for sharing exported files -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>